.Germany{
    width: 900px;
    height: 600px;
    background: yellow;
}
.black{
    width: 900px;
    height: 200px;
    background: black;   
}
.red{
    width: 900px;
    height: 200px;
    background: red;  
}